// font-family: 'NanumSquareLight';
// font-family: 'NanumSquare';
// font-family: 'NanumSquareBold';
// font-family: 'NanumSquareExtraBold';
// font-family: 'NanumSquareAcb';
// font-family: 'NanumSquareAceb';
// font-family: 'NanumSquareAcl';
// font-family: 'NanumSquareAcr';
// font-family: 'HSBombaram';

// font-family: 'Gothic A1', sans-serif;
// font-family: 'Montserrat', sans-serif;


@font-face {
    font-family: 'HSBombaram'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One','NanumSquareLight',sans-serif;
    font-size: 1rem;
    line-height: 1;
}
li{ list-style: none;}

.fontspecial{ //봄바람체
    font-family: 'HSBombaram' !important;
}
.fontkr{
    font-family: 'Gothic A1', sans-serif !important;
    font-weight: 300;
}
.fontEn{
    font-family: 'Poiret One', cursive !important;
}

.navibg{
    background-color: #F6C7B8 !important;
}



.colorBasic{
    color:#707070 !important
}
.colorActive{
    color:#6B6DD2 !important;
}
.bg-active{ background-color: #6B6DD2 !important;}



.color1{
    color:#D1C3FC !important
}
.bg1{
    background-color:#D1C3FC !important
}
.color2{
    color:#9EC4FC !important
}
.bg2{
    background-color:#9EC4FC !important
}


.color9{
    color:#6A6FD5 !important
}
.bg9{
    background-color:#6A6FD5 !important
}
.color10{
    color:#705BB9 !important
}
.bg10{
    background-color:#705BB9 !important
}

.h100vh{
    height: 100vh;
}







.color3{
    color:#B79CCC !important
}
.bg3{
    background-color:#B79CCC !important
}

.color4{
    color:#B099CD !important
}
.bg4{
    background-color:#B099CD !important
}


.color5{
    color:#092140 !important
}
.bg5{
    background-color:#092140 !important
}
.color6{
    color:#2F4D6B !important
}
.bg6{
    background-color:#2F4D6B !important
}


.color7{
    color:#F7C0EA !important
}
.bg7{
    background-color:#F7C0EA !important
}
.color8{
    color:#A78FD2 !important
}
.bg8{
    background-color:#A78FD2 !important
}


.bgGsky{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d1c3fc+0,9ec4fc+100 */
background: #d1c3fc; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d1c3fc 0%, #9ec4fc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d1c3fc 0%,#9ec4fc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d1c3fc 0%,#9ec4fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1c3fc', endColorstr='#9ec4fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.bgGpupple{
    background: #B79CCC; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #B79CCC 0%, #B099CD 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #B79CCC 0%,#B099CD 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #B79CCC 0%,#B099CD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B79CCC', endColorstr='#B099CD',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
     

}
.bgGbora{

}
.bgGpink{

}
.bgGdrak{

}


.fontw100{ font-weight: 100 !important;}
.fontw200{ font-weight: 200 !important;}
.fontw300{ font-weight: 300 !important;}
.fontw400{ font-weight: 400 !important;}
.fontw500{ font-weight: 500 !important;}
.fontw600{ font-weight: 600 !important;}
.fontw700{ font-weight: 700 !important;}
.fontw800{ font-weight: 800 !important;}
.fontw900{ font-weight: 900 !important;}

.font20303854{
    font-size: 54px;
}

@media (max-width:991px) {
    .font20303854{
        font-size: 38px;
    }
    
}

@media (max-width:768px) {
    .font20303854{
        font-size: 30px;
    }
    
}
@media (max-width:600px) {
    .font20303854{
        font-size: 20px;
    }
    
}



#hd{
    h1{
        img{
            max-width: 130px;
            width:33.333vw;
        }
    }
    a{
        font-size: 20px;
        font-weight: bold;
    }
}